<a href="https://colab.research.google.com/github/krishnachaith/python/blob/main/phythonday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltm

In [3]:
dict1 ={'india':'I love my India', 'UK':10, 'USA':'FALSE'}

In [4]:
dict1['india']

'I love my India'

In [5]:
dict1['UK']

10

In [6]:
dict1['USA']

'FALSE'

In [7]:
stats = pd.read_csv('/content/DemographicData.csv')

In [9]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [10]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [11]:
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [12]:
stats.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [17]:
stats.columns = ['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup']

In [18]:
stats.columns

Index(['CountryName', 'CountryCode', 'Birthrate', 'Internetusers',
       'IncomeGroup'],
      dtype='object')

In [19]:
stats[3:7]

,CountryName,CountryCode,Birthrate,Internetusers,IncomeGroup
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income

In [20]:
stats[1:2]

   CountryName CountryCode  Birthrate  Internetusers IncomeGroup
1  Afghanistan         AFG     35.253            5.9  Low income

In [22]:
stats.iloc[:1:3].values

array([['Aruba', 'ABW', 10.244, 78.9, 'High income']], dtype=object)

In [24]:
stats.iloc[:2,3:]

   Internetusers  IncomeGroup
0           78.9  High income
1            5.9   Low income

In [30]:
stats.iloc[2:6:3,1:4:3]

  CountryCode
2         AGO
5         ARG

In [33]:
stats.iloc[[2,5],[1,3]]

  CountryCode  Internetusers
2         AGO           19.1
5         ARG           59.9